@font: 'Montserrat', sans-serif;
@padding: 25px;

.btn {
	background: #ccc;
	border-radius: 3px;
	font-size: 12px;
	padding: 10px;
	font-family: @font;
	border:none;
	outline: none;
}

body {
	background: #eee !important;
	background-image: url('../assets/bokeh.jpg') !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	font-family: @font !important;
	// font-weight: normal !important;
}

div:not(.injected) h1 {
	font-size: 54px !important;
	color: white !important;
	font-family: @font ;
}

.simple-message-app {
	width: 100%;
	max-width: 960px;
	margin: 100px auto 0;
}

.message-list {
	list-style-type: none;
	padding: 0;

	.message-item {
		border-width: 1px 1px 0 1px;
		border-style: solid;
		border-color: #000;
		padding: @padding;
		background-color: white;
		display: flex;
		align-items: flex-start;

		&:last-child {
			border-bottom-width: 1px;
		}

		.message-name {
			flex: 1;
			font-size: 25px;	
		}

		.message {
			&-subjects {
				flex: 3;
			}
			&-subject {
				display: block;
				margin-bottom: 15px;
				&:last-child {
					margin: 0;
				}
			}
		}

		.message-action {
			flex: 1;
			.btn;
		}
	}
	
}

.message-preview-container {
	background-color: white;
	

	.message-preview-header {
		padding: @padding;
		border-bottom: 1px solid #ddd;
	}

	.message-preview-action {
		.btn;

		&.left {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right:1px solid #888;
		}
		&.right {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		&--active {
			background-color: #aaa;
		}
	}

	.message-preview-close {
		border-bottom: 1px solid #aaa;
		padding: 10px;
		text-align: right;
	}

	.message-preview-label,
	.message-preview-value {
		font-size: 25px;
	}

	.message-preview-value {
		margin-left: @padding/2;
	}
	
	.message-preview-value {
		font-weight: 300;
	}

	.message-preview-row {
		display: flex;
		margin-bottom: @padding/2;
		&:last-of-type {
			margin-bottom: @padding;
		}
	}

}
